@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  @apply w-2 h-2;
}

*::-webkit-scrollbar-track {
  @apply bg-zinc-700 
}

*::-webkit-scrollbar-thumb {
  @apply bg-purple-700 rounded-2xl
}

@layer components {
  .selected-category-item {
    @apply border-b-[3px] text-sm border-b-purple-700 text-center break-words leading-6
  }

  .actors-section {
    
  }
}

