@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer components {
  .selected-category-item {
    @apply pb-1 border-b-[3px] border-b-purple-700 
  }
  
}

